<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @if (WebSecurity.IsAuthenticated || !(ViewBag.HideLayout ?? true))
        {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container full-width">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sales Forecast Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    } 
    <div class="container body-content @ViewBag.FullWidth" ng-app="SFApplication">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        function popupwindow(url,h, w, callback) {
            if (h == null) {
                h = 500;
            }
            if (w == null) {
                w = 1000;
            }

            // Fixes dual-screen position                         Most browsers      Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (1000 / 2)) + dualScreenLeft;
            var top = ((height / 2) - (400 / 2)) + dualScreenTop;

            window.open(url, 'popup', 'resizable=0,width=' + w + ',height=' + h + ',left=' + left + ',top=' + top + ', scrollbars=no,resizable=no');

            if (typeof (callback) != undefined) {
                window.somefunction = callback;
            }
            
        }
    </script>
</body>
</html>
