<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @if (WebSecurity.IsAuthenticated || !(ViewBag.HideLayout ?? true))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container full-width">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Sales Forecast Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                        </ul>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }

    <div class="overlay">
        <div class="white-box">
            <div class="title-bar"><i class="glyphicon glyphicon-remove form-close"></i></div>
            <div class="popup-body">test</div>
        </div>
    </div>
    <div class="container body-content @ViewBag.FullWidth" ng-app="SFApplication" ng-controller="layoutController" id="body-container">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $(document).on("click", ".form-open", function (e) {
                e.preventDefault();

                var url = e.target.dataset.url;
                var controller = e.target.dataset.ngcontroller;
                var id = e.target.dataset.id;

                //validate url
                if (typeof (url) == "undefined") {
                    console.warn("url not set");
                    return false;
                }
                if (url == "" || url == null) {
                    console.warn("url not set");
                    return false;
                }

                //append id to url (for edits)
                if (typeof (id) != "undefined") {
                    if (id != "" || id != null) {
                        //add forwardslash
                        if (url[url.length - 1] != '/') {
                            url += '/';
                        }
                        url += id;
                    }
                }

                //validate angular controller
                if (typeof (controller) == "undefined") {
                    console.warn("ng controller not set");
                    return false;
                }
                if (controller == "" || controller == null) {
                    console.warn("ng controller not set");
                    return false;
                }

                angular.element("#body-container").scope().url = url;
                angular.element("#body-container").scope().controller = controller;

                angular.element("#body-container").scope().openComponentModal();

            });
        });
    </script>
</body>
</html>
